.container {
  max-width: 600px;
  margin: auto;
}

.resultado {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.anuncio {
  background-color: #e6e6e6;
  border: 1px solid #111111;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.patrocinado {
  font-size: 10px;
  color: #333333;
  font-style: italic;
  text-align: right;
}

.imagem-anuncio {
  width: 100%;
  border-radius: 3px;
}

.conteudo-anuncio h4 {
  margin: 0 0 08px;
  color: #008800;
}

.conteudo-anuncio p {
  font-size: 13px;
  color: #444;
  margin: 0;
}

.botao-anuncio {
  align-self: flex-end;
  background-color: #008800;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.botao-anuncio:hover {
  background-color: #008800;
}
